<nav class="navbar navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand">Pokemon Fan Club</a>
    <a href="#"> Home</a>
    <a href="#"> Latest </a>
    <a routerLink="/pokemons"> Pokemons</a>
    <a routerLink="/about"> About</a>
    <form method="get" action="/pokemons" class="d-flex">
      <input
        class="form-control me-2"
        name="search"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
