<div class="container" *ngIf="pokemon === null; else display">
  No Pokemons to display
</div>

<ng-template #display>
  <div class="card" style="width: 18rem">
    <img
      src="{{ pokemon.imageUrl }}"
      class="card-img-top"
      alt="image goes here  "
    />
    <div class="card-body">
      <h5 class="card-title">{{ pokemon.id }}. {{ pokemon.name }}</h5>
      <!-- <p *ngFor="let power of pokemon.power"> -->
      <p>
        Power: <span class="badge bg-secondary">{{ pokemon.power }}</span>
      </p>
      <!-- </p> -->

      <a routerLink="/pokemons/{{ pokemon.id }}">
        <button class="btn btn-primary">More Details</button></a
      >
    </div>
  </div>
</ng-template>
